[Unit]
Description=duck race timer
After=network.target

[Service]
ExecStart=/usr/bin/python3 /opt/ducker-timer/server.py
WorkingDirectory=/opt/ducker-timer
DynamicUser=yes
NoNewPrivileges=yes
ProtectSystem=strict
ProtectHome=yes
Restart=on-failure

[Install]
WantedBy=multi-user.target
